<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Api\Data\ProductInterface">
        <plugin name="blockscape_digitallicense_catalog_product_plugin" type="Blockscape\DigitalLicense\Controller\Adminhtml\Product\Initialization\Helper\Plugin\DigitalLicensePlugin"/>
    </type>
</config>